.heart {
    &:before {
        content: url("../images/icon-heart.svg");   
    }
}

.customers {
    width: 180px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    // border-bottom: 1px solid color(gray, dark);
    // min-height: 21px;

    @include media("<small") {
        width: 200px;
        text-align: center;
    }
}

.features {
    padding: 10px 0;

    .features__icon {
        width: 32px;
        margin-bottom: 1em;
    }

    .features__title {
        font-weight: 800;
        margin-bottom: .5em
    }

    .features__flag {
        margin-bottom: 16px;
    }
}

.private-alpha-img {
    position: relative;

    .private-alpha-img__caption {
        position: absolute;
        right: 50px; 
        top: -50px;
        z-index: 1;
    }

    .private-alpha-img__img {
        max-height: 300px;
        margin-top: 32px;
    }
}

.row--step {
    padding: 16px 0;

    @include media(">medium") {
        padding: 32px 0;
    }
}

.step-one, .step-two {
    
   margin-top: 0px;
   margin-bottom: 28px;

    @include media(">medium") {
         margin-top: 96px;
         margin-bottom: 0;
    }
}

.pricing {
    border: 1px solid $light-gray;
    padding: 16px;
    max-width: 80%;
    margin: 0 auto 16px;

    @include media(">medium") {
        margin: 0 auto;
    }

    button {
        margin: 0 auto;
        display: block;
    }

    @include media(">medium") {
        padding: 32px;
        max-width: 100%;
    }

    .pricing__title {
        text-align: center;
        text-transform: uppercase;
    }

    .pricing__price {
        float: right;

        &:before {
            content: "$";
            font-size: 16px;
            vertical-align: top;
        }

        &:after {
            content: "/mo";
            font-size: 16px;
            vertical-align: bottom;
        }

        &.pricing__price--instant:after {
            content: "";
        }
    }

    .pricing__radio {
        padding-top: 2px;
        p {
            display: inline;
        }
    }
}

.pricing-table {
    text-align: center;
    border: 1px solid $light-gray;

    @include media("<medium") {
        margin-bottom: 48px;
    }

    thead {
        text-transform: uppercase;
        tr > th {
            color: $black;
        }
    }

    tbody {
        font-size: 16px;
    }
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.login-row {
    padding: 32px 0;

    @include media(">medium") {
        padding: 64px 0;
    }
}

.login {
    text-align: center;
    border: 1px solid $light-gray;
    border-radius: $base-border-radius;

    .login__input {
        margin-bottom: 20px;
    }
}

.contact-form {
    display: none;
    position: fixed;
    right: 32px;
    bottom: -5px;
    width:300px;
    background-color: $white;
    padding: 22px;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;

    @include media("<medium") {
        width: 90%;
        right: 5%;
    }

    .close {
        cursor: pointer;
        font-size: 22px;
        position:absolute;
        right: 20px;
        top: 5px;
    }

    h1 {
        margin-bottom: 5px;
    }
    
    button {
        display: block;
        margin: 0 auto;
        width: 100px;
    }
}