.hero {
    width: 100%;
    text-align: center;
    padding: 110px 10px;
    background: $white;

    &.hero--small {
        padding: 40px 10px;

        @include media(">medium") {
            padding: 80px 10px;
        }
    }

    .hero__title {
        margin-bottom: .5em;
    }

    .hero__subtitle {
        margin-bottom: 32px;
        font-size: 28px;
    }

    .hero__caption {
        margin-bottom: 56px;
    }

    @include media(">medium") {
        padding: 90px 10px 150px 10px;
    }
}