// colors
$black: color(gray, x-dark);
$gray: color(gray);
$light-gray: color(gray, light);
$xlight-gray: color(gray, x-light);
$blue: color(blue);
$dark-blue: color(blue, dark);
$white: color(white);
$red: color(red);
$green: #00CC8A;
$light-green: #80ffd7;

// etc
$base-border-radius: 4px;
$base-transition: all .15s ease;
$base-box-shadow: 0 4px 6px rgba(50,50,93,.33), 0 1px 3px rgba(0,0,0,.24);

// typography
@font-face {
    font-family: avenir;
    src: url(../font/avenirltstd-light.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: avenir;
    src: url(../font/avenirltstd-heavy.ttf) format('truetype');
    font-weight: bold;
}
$base-font-color: $black;
$secondary-font-color: $gray;

// layout
$max-width: 1200px;